$containerMaxWidth: 1170px;
$containerPadding: 0 50px;
$marginSection: 40px;
$textSize: clamp(18px, calc(1.125rem + ((1vw - 6.2px) * 1.8182)), 28px);

$border-color: #ffffff;

$primary-color: #B47FF6;
$secondary-color: #A6C9FF;
$hero-bg-color: #7029CB;
$hero-text-color: #fff;
$button-color: #FF4B4B;
$grid-item-bg: #3ADE4B;
$carousel-item-bg: #497957;
$carousel-color: #D4FF5A;
$crt-tovar-stroke-color: #00FF4A;
